$text-color : #2d3238;
$primary_color: #ebb143;
$secondary_color: #95cad0;
$dark_color: #273849;
$light-color: #ffffff;


$font-body: 14px;
$font-heading: $font-body + 6px;
$font-subheading: $font-body + 3px;
$font-small: $font-body - 2px; 

// Hex
$hex-width: 120px;
$hex-height: 100px;
$hex-i: 50px;
@mixin hex($hex-background, $hex-color) {
    background-color: $hex-background!important;
    color: $hex-color;
    position: relative;
    &:after {
        position: absolute;
        bottom: 16px;
        text-align: center;
        color: $primary_color!important;
        font-size: 10px;
    }
}



// General Buttons
.btn {
    border-radius: 0;
}
.btn-primary {
    background-color: $primary_color;
    border: solid 1px $primary_color;

    &:is(:hover,:active,:focus) {
        background-color: darken($primary_color,10%);
        border: solid 1px darken($primary_color, 10%);
    }
}
.btn-secondary {
    background-color: $secondary_color;
    border: solid 1px $secondary_color;
    color: $text-color;

    &:is(:hover,:active,:focus) {
        background-color: darken($secondary_color,10%);
        border: solid 1px darken($secondary_color, 10%);
    }
}
.btn-line {
    background-color: transparent;
    border: solid 1px $text-color;

    &:is(:hover,:active,:focus) {
        border-color: solid 1px darken($text-color,10%);
    }
}

input, textarea {
    background-color: lightgray;
    height: 38px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}
form label {
    display: block;
}
body {
    color: $text-color;
    .navbar-toggler {
        color: $text-color;
    }

    // Hex ...sacado de alguna p'agina de css.
    .hex-nav {
        background-color: $dark_color;
        .container {
            max-width: 960px;

            
            .hex {
                display: flex;
                margin: 0 auto;
                position: relative;
                width: $hex-width;
                height: $hex-height;
                background: $light-color;
                // color: $light-color;
                box-sizing: border-box;
                -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                align-items: center!important;
                justify-content: center!important;
                transition: all 0.3s ease;

                // Esta soluci'on es extranna. Por que es un hover anidado...pero si sirve. 
                &:is(:hover, :active, :focus){
                    background-color: #fff!important;

                    .hex-i i {
                        color: #fff;
                    }
                }

                .hex-i {
                    color: inherit;
                    background-color: $dark_color; /*color of the main-background*/
                    width: calc($hex-width - 4px); /* container height - (border thickness * 2) */
                    height: calc($hex-height - 4px); /* container height - (border thickness * 2) */
                    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                    align-items: center!important;
                    justify-content: center!important;
                    display: flex;

                    i {
                        margin-top: -12px;
                        font-size: $hex-i;
                        object-fit: cover;
                        transition: all 0.3s ease;
                        -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                        -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                    }
                }

            }
        }
    }

    .play_arrow {
        @include hex(#44b2e4,#44b2e4);
        &:after {
            content: "VIDEOS";
        }
    }
    .videogame_asset {
        @include hex(#49b5c2,#49b5c2);
        &:after {
            content: "JUEGOS";
        }
    }
    .local_play {
        @include hex(#7af5f5,#7af5f5);
        &:after {
            content: "PARQUES";
        }
    }
    .movie_filter {
        @include hex(#93e2d5,#93e2d5);
        &:after {
            content: "SAGA";
        }
    }
    .library_books {
        @include hex(#c9cf6c,#c9cf6c);
        &:after {
            content: "INGEN";
        }
    }
        

    .jumbotron {
        background-image:url('../img/jurassic-world-camp-cretaceous-promo-bg.webp');
        background-position: 0px -80px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        height: 450px;
        margin-bottom: 0;
        display: flex;

        .container {
            position: relative;
            z-index: 1;
            justify-content: center;
            align-content: center;
            display: flex;
            flex-direction: column;
            
            * {
                color: $light-color
            }
            .btn {
                width: 250px;
                text-transform: uppercase;
            }
        }

        .blackdrop {
            content: "";
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    .album {

        .dinos {
            display: grid;
            grid-template-columns: repeat(
                auto-fit,
                minmax(
                    250px, 1fr
                )  
            );
            gap: 10px;
            flex: 1;

        }


        .card  {
            border-radius: 0;

            .card-image-top {
                display: grid;
                width: 100%;
                height: 200px;
                overflow: hidden;
            
                img {
                    object-fit: cover;
                    width:100%;
                    height:100%;
                }
            }
            
            .card-body {
                z-index: 1;
                background-image: linear-gradient(to top, #000000a8, #00000000);
                color: $light-color;
                position: absolute;
                bottom: 0;
                text-align: $light-color;
                
                .line-clamp {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
                
                .btn {
                    border: solid 1px $light-color;
                    color: $light-color;
                    min-width: 50px;

                    &:is(:hover, :focus, :active) {
                        background-color: rgba(255, 255, 255, 0.9);
                        color: $text-color;
                    }
                }
                
                .text-muted {
                    color: $light-color!important;
                    opacity: .7;
                }
            }   
        }
    }
}
// Footer
footer {
    font-size: $font-small;
    background-color: $dark_color;
    color: lighten($light-color, 50%);
    text-align: center;
    
    a {
        color: lighten($light-color, 50%);
        text-decoration: underline;

    }
    .social a {
        text-decoration: none;
    }
}



table {
    background-color: red;
    tr, th, td {
        border: solid 1px violet;
    }
}

// Media Queries
@media screen and (max-width: 992px) {
    // No se si esto est'a bien declarado en el contexto de sass
    // Deber'ia hacer la ruta?
    body .jumbotron {
        background-size: auto;
        height: 100%;
        
        .lead {
            font-size: 14px;
        }
    }

    h1 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    // Hex
    .hex-nav {
        .container {
            max-width: 100%;
            .hex {
                label {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    // Aqu'i vuelvo a declarar esta variable
    $hex-i: 40px;
    body {
        .hex-nav {
            .container {
                .hex {
                    width: 60px!important;
                    height: 50px!important;
                    background-color: $dark_color!important;
                    &:after {
                        display: none;
                    }
                    &:is(:hover, :active, :focus){
                        background-color: transparent!important;
                    }
                    .hex-i {
                        i{
                            font-size: $hex-i;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
   }
}

